body {
	background-color: #BDB1B1;
	margin: 0;
}
h1 {
	text-align: center;
}
.header {
	width: 100%;
	height: 20%;
	margin-bottom: 80%;
	background-color: #BDB1B1;
	position: fixed;

}
#nav { 
	width: 20%;
	height: 99%;
	margin-top: 1%;
	margin-left: 80%;
	position: fixed;
}
#nav ul {
	list-style:none;
}
#nav ul li {
display: inline;  
}
#nav ul li a {
	width: 52px;
	height: 26px;
	background: rgba(255,255,255,0);
	border: 1px solid #000000;
	border-radius: 20px;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	color: #000000;
}
.box1 {
	height: 97%;
	margin-bottom: -1%;
}
.img {
	width: 100%;
	height: 90.5%;
	margin-top: 9.5%;
	border: 1px solid #000000;
}
.box2	{ 
	height: 1100px;
    background: linear-gradient(#CBD4C0,#D2D0D0);
	}

.Box2_1{
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	height: 1000px;
	background: #A5A5A5;
	border: 1px solid #000000;
	border-radius: 0px; 
	display: flex; 
	flex-direction: row;
}
.header_1 {
	height: 46px;
	background-color: #A5A5A5;
	border: 1px solid #000000;
	border-radius: 0px;
	position: fixed;
	display: flex;   
	flex-direction: row;
}
#nav_1 {
	 width: 2000px;
}
#nav_1 ul{
	list-style:none;
width:70%; 
height:12.5px; 
margin:0 auto; 
padding: 12px; 
}
#nav_1 ul li {
margin-top: 10%;
display: inline;
padding:90px;  
}
#nav_1 ul li a{
color:black; 
font-family:sans-serif; 
font-size:20px; 
text-decoration:none; 

}
.perfil {
	width: 250px;
	height: 200px;
	margin-top: 3%;
	margin-left: 30%;
	border: 1px solid #000000;
}
.Box2_1_1 {
	height: 60%;
	margin-top: 32%;
	margin-left: -40%;
	border-radius: 0px;  
	flex-direction: row;
}
.t1 {
	text-align: center;
	color: #000000;
	font-size: 20px;
}
#input {
	color: #000000;
font-family: 'Source Sans Pro';
font-size: 12px;
font-weight: normal;
font-style: normal;
text-decoration: none;
text-align: left;
padding: 5px;
background: #BDB1B1;
border: 1px solid #000000;
border-radius: 0px;
}
#Editar {
		color: #000000;
	font-family: 'Source Sans Pro';
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	background: #BDB1B1;
	border: 1px solid #000000;
	border-radius: 20px;
	padding: 10px;
}