p {
	text-align: center;
	color: #FE0101;
}
.Box2_1{
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	height: 600px;
	background: #A5A5A5;
	border: 1px solid #000000;
	border-radius: 0px;
	flex-direction: row;
}
